.sideBarContainer {
    --sidebar-bg: #D8F5C7;
    --sidebar-text: #35513F;
    --sidebar-icon: #3E6B58;
    --sidebar-nonactive-bg: #E9FADE;
    --sidebar-nonactive-text: #5E7D6A;
    --sidebar-active-bg: #BDEBA9;
    --sidebar-active-text: #1E2E24;
    --sidebar-hover-bg: #CFF3BA;
    --sidebar-hover-text: #2E4F3D;

    --sidebar-hover-border: #A4D39A;
    --sidebar-nonactive-border: #CFEAC1;
    --sidebar-active-border: #90C88A;

    position: fixed;
    left: -190px;
    top: 0;
    height: 100dvh;
    z-index: 1000;

    width: 260px;

    background-color: var(--sidebar-bg);
    border-right: 2px solid var(--sidebar-active-border);
    color: var(--sidebar-text);

    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;

    padding-top: 74px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    transition: all 0.3s ease 0s;
}
.open.sideBarContainer {
    left: 0;
    justify-content: center;
}

.navigateContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 14px;
    border-radius: 5px;
    transition: all 0.2s ease 0s;

    color: var(--sidebar-nonactive-text);
    background-color: var(--sidebar-nonactive-bg);
    border: 2px solid var(--sidebar-nonactive-border);
}
.link:hover {
    color: var(--sidebar-hover-text);
    background-color: var(--sidebar-hover-bg);
    border: 2px solid var(--sidebar-hover-border);
    transform: scale(1.1);
}

.activeLink {
    background-color: var(--sidebar-active-bg);
    color: var(--sidebar-active-text);
    border: 2px solid var(--sidebar-active-border);
    transform: scale(1.1);
}
.activeLink:hover {
    border: 2px solid var(--sidebar-active-border);
    background-color: var(--sidebar-active-bg);
    color: var(--sidebar-active-text);
}

.icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggleButton {
    background: transparent;
    border: none;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    padding: 0;

    position: absolute;
    top: 25px;
    right: 20px;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: var(--sidebar-icon);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.open .bar:nth-child(2) {
    opacity: 0;
}

.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}