:root {
    --booking-header-bg: #4A3F5E;
    --booking-primary-color: #7A6A92;
    --booking-info-color: #FCEEAC;
}

.booking-project-wrapper {

    --booking-text-color: #3A3A3A;
    --booking-bg-color: #DCD7E5;
    --booking-font-family: 'Inter';

    --booking-font-size-s: 16px;
    --booking-font-size-m: 18px;
    --booking-font-size-l: 20px;

    --booking-control-height: 50px;
}