.booking-project-wrapper {
    --booking-primary-color: #B3A6C4;
    --booking-info-color: #FCEEAC;
    --booking-text-color: #3A3A3A;
    --booking-bg-color: #DCD7E5;
    --booking-header-bg: #4A3F5E;
    --booking-font-family: 'Inter';
}