.wrapper {
    display: flex;
    flex-direction: column;

    color: var(--booking-text-color);

    font-family: var(--booking-font-family), sans-serif;
}

.title {
    margin: 50px 0 0 0;

    align-self: center;
    justify-self: center;

    font-size: 50px;
    font-weight: 700;

    color: #ffffff;
    background-color: var(--booking-header-bg);
    padding: 30px 100px ;
    border-radius: 100px 15px 100px 15px;
}
.title span {
    color: var(--booking-info-color);
    text-transform: uppercase;
}

.hotels {
    margin: 50px 0 50px 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination {
    margin-bottom: 50px;
}

.noResultContainer {
    margin-top: 50px;
    margin-bottom: 50px;

    padding: 50px;
    background-color: var(--booking-header-bg);
    border-radius: 15px;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.noResultTitle {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--booking-info-color);
}
.noResultTitle span{
    font-size: 85px;
    color: #ffffff;
}
.noResultText {
    font-size: 18px;
    font-weight: 500;
}
.noResultText span{
    color: var(--booking-info-color);
}