.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    color: var(--booking-text-color);
}

.hotels {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.form {
    align-self: center;
}